#secret key
SECRET_KEY = ''


# Debug mode
DEBUG = True

# Allowed hosts
ALLOWED_HOSTS = [None]


# Database configuration
DATABASE_ENGINE = 'DATABASE_ENGINE'
DATABASE_NAME = 'DATABASE_NAME'
DATABASE_USER = 'DATABASE_USER'
DATABASE_PASSWORD = 'DATABASE_PASSWORD'
DATABASE_HOST = 'DATABASE_HOST'
DATABASE_PORT = 'DATABASE_PORT'


# SMTP configration Email
EMAIL_HOST = 'smtp.gmail.com'
EMAIL_HOST_USER = 'nadiirsulaeman99@gmail.com'
EMAIL_HOST_PASSWORD= 'jxnp ehac dgxk ypge'
EMAIL_PORT = 587
EMAIL_USE_TLS = True 
DEFAULT_FROM_EMAIL = 'nadiirsulaeman99@gmail.com'
