{% extends "base2.html" %}
{% load crispy_forms_filters %}



{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class=" col-md-9 col-lg-6">
            <h2 class="text-center mt-2 mb-3">Sign up</h2>
            <hr style="color: black; border:solid 1px #000000;">
                <form method="POST" class="mt-4">
                    {% csrf_token %}
                            <div class="row g-2">
                                <div class="col-6">{{ form.first_name|as_crispy_field }}</div>
                                <div class="col-6">{{ form.last_name|as_crispy_field }}</div>
                            </div>
                            {{ form.email|as_crispy_field }}
                            <div class="row g-2">
                                <div class="col-8">{{ form.phone_number|as_crispy_field }}</div>
                                <div class="col-4">{{ form.country|as_crispy_field }}</div>
                            </div>
                            <div class="row g-2">
                                <div class="col-6">{{ form.password|as_crispy_field }}</div>
                                <div class="col-6">{{ form.confirm_password|as_crispy_field }}</div>
                            </div>
                        <input class="btn btn-primary rounded-4 mb-2 w-100 " value="Sign up" type="submit">
                </form>
        </div>
    </div>
</div>

{% endblock content %}